body {color: #010101;background-color: #d4d3d3;}
.Widget>label {color: rgb(59, 199, 4); font-family: monospace;}
.stTextInput {color: #4F8BF9;}
.css-1aumxhk {background-color:#949494; background-image: none; color:#fcfcfc}
